<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, world!</h1>
{% for project in projects %}
    <p>{{ project.name }}</p>
    <p>{{ project.description }}</p>
    {% for media_content in project.media_content %}
        <p>{{ media_content.name }}</p>
        <p>{{ media_content.static_path }}</p>
    {% endfor %}
    {% for git_url in project.git_urls %}
        <p>{{ git_url.url }}</p>
    {% endfor %}
    {% for author in project.authors %}
        <p>{{ author.name }}</p>
    {% endfor %}
{% endfor %}
</body>
</html>